.fundo_nav{
    background-color: transparent;
}
.fonte_nv{
    color: violet;
}
.borda_da_img{
    border-radius: 15px;
}
.caixa{
    height: 300px ;
    border: 2px solid transparent ;
    font-size: 50px;
    line-height: 300px;
}
